@use 'node_modules/bootstrap/scss/bootstrap' as *;

$primary: rgb(97, 99, 229);
$myLightGrey: rgb(119, 117, 117);
$myTomato: rgb(251, 90, 16);
$myDarkBlue: rgb(40, 40, 77);
$myShadowForButtons: 0px 0.5px 5px $primary;

body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white
    
}

.hero-section.text-center.bg-light.py-5 {
    background-color: white;
}

.centered-h2 {
    text-align: center;
    width: 50%;
    margin: 1em;
}

.centered-lightGrey-p {
    width: 30%;
    text-align: center;
    margin-bottom: 2.5em;
    color: $myLightGrey;
}

.web-section {
    margin-bottom: 5em;
    padding-bottom: 8em;
}

#navbarNav {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding-left: 7em;
    padding-right: 7em;
    gap: 3em;

    .nav-link {
        padding: 1em;
        font-size: small;
        font-weight: light;
    }

    .nav-link:hover {
        color: $myTomato;
    }

    #loginButton {
        display: flex;
        font-size: small;
        color: black;
        border-color: black;
        border-width: 1px;
        border-radius: 0.5em;
        width: 8em;
        text-align: center;
        display:table-cell;
        vertical-align:middle;
    }

    #loginButton:hover {
        color: $myTomato;
        border-color:  $myTomato;
        background-color: white;
    }
}

#main-description-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    #description-cont {
        grid-column: 1;
        padding-left: 7em;

        h1 {
            width: 70%;
            margin-bottom: 1em;
        }

        #header-p {
            width: 60%;
            font-size: medium;
            color: $myLightGrey;
        }

        .btn-group {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 0.2em;
            gap: 2em;
            width: 40em;

            #browser-btn-1 {
                grid-column: 1;
                color: black;
                border-color: black;
                border-radius: 0.5em;
                font-size: medium;
            }

            #browser-btn-1:hover {
                background-color: white;
                color: $primary;
                border-color: $primary;
                box-shadow: $myShadowForButtons;
            }

            #browser-btn-2 {
                grid-column: 2;
                color: black;
                border-color: black;
                border-radius: 0.5em;
            }

            #browser-btn-2:hover {
                background-color: white;
                color: $primary;
                border-color: $primary;
                box-shadow: $myShadowForButtons;
            }
        }
    }

    #preview-cont {
        grid-column: 2;
        position: relative;
        overflow: hidden;

        #rounded-blue-shape-header {
            position: absolute;
            background-color: $primary;
            width: 100em;
            height: 20em;
            border-radius: 100em;
            padding: 1em;
            z-index: -1;
            position: absolute;
            top: 160px; 
            left: 250px;
            right: 1;
        }
    }
}

#main-cont-features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    #underline-nav .nav-link,
    #underline-nav .nav-link.active {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 0em 5em 2em 5em;
        margin-bottom: 5em;
        color: black;
        border-bottom: 2px solid $myTomato;
        font-weight: normal;
    }

    #underline-nav .nav-link:hover {
        color: $myTomato;
        font-weight: normal;
    }
}

#hero-section-main {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    gap: 4em;
    background-color: white;


    #img-features {
        display: flex;
        margin-left: 10em;
        position: relative;
    }

    #rounded-blue-shape-main {
        position: absolute;
        background-color: $primary;
        width: 100em;
        height: 20em;
        border-radius: 100em;
        padding: 1em;
        z-index: -1;
        position: absolute;
        top: 100px;
        right: 250px;
        right: 1;
    }

    .more-info-div {
        display: flex;
        flex-direction: column;

        #header-p {
            width: 50%;
            padding: 1em 0em 1em 0em;
            color: $myLightGrey;
        }

        #more-info-btn-01 {
            background-color: $primary;
            width: 7em;
            padding: 0.7em;
            box-shadow: $myShadowForButtons;
        }
    }
}

#dwnl-section {
    display: flex;
    flex-flow: column;
    align-items: center;

    .centered-lightGrey-p {
        align-self: center;
        width: 30%;
        color: $myLightGrey;
    }
}

.browsers-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 7em;

    .card {
        display: flex;
        align-items: center;
        margin: 0em 1em 3em 1em;
        gap: 0em;
        padding: 0em;
        box-shadow: 0px 2px 10px rgb(222, 222, 222);
        border-color: white;
        position: relative;

        .card-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 12em;
            width: 10em;
            text-align: center;

            .card-title {
                width: 100%;
                font-size: medium;
            }

            .card-text {
                width: 100%;
                font-size: small;
                color: $myLightGrey;
            }

            .card-text-deco {
                width: 14em;
                margin-bottom: 0em;
                color: $myLightGrey;
            }

            .btn.btn-primary {
                width: 13em;
                font-size: small;
                margin-top: 3em;
                padding: 1em;
                background-color: $primary;
                box-shadow: $myShadowForButtons;
            }

            .btn.btn-primary:hover {
                width: 13em;
                font-size: small;
                margin-top: 3em;
                padding: 1em;
                background-color: white;
                border-color: $primary;
                color: $primary;
                box-shadow: $myShadowForButtons;

            }
        }

        .card-img-top {
            align-self: center;
            padding: 1em 0em 0em 0em;
            width: 30%;
        }

        &:nth-child(1) {
            top: 0px;
        }
    
        &:nth-child(2) {
            top: 30px;
        }
    
        &:nth-child(3) {
            top: 50px;
        }
    }
}

#faqs-section {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    .centered-h2#footer-h2,
    .centered-lightGrey-p#footer-p {
        align-self: center;
    }

    .accordion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        // align-items: center;
        width: 30%;
        font-weight: lighter;
        // margin: 3em;

        .accordion-item {
            background-color: white;
            color: $myLightGrey;
            font-size: small;
            border-right: white;
            border-left: white;
        }

        .accordion-header {
            background-color: white;
            
            &:hover {
                background-color: white;
                color: $myTomato;
    
            }
        }


        .accordion-button {
            background-color: white;
            color: black;
            box-shadow: none;
            
            &:hover {
                background-color: white;
                color: $myTomato;
                box-shadow: none;
                border-right: white;
                border-left: white;
            }

            &::after {
                color: $primary !important;
                font-weight: bold;
            }
            
            &:hover::after {
                color: $myTomato !important;
                font-weight: bold;
            }
        }
    }
    #more-info-btn-02 {
        // display: flex;
        margin-top: 2em;
        margin-bottom: 2em;
        align-self: center;
        // justify-content: center;
        background-color: $primary;
        width: 7em;
        padding: 0.7em;
        box-shadow: $myShadowForButtons;
    }

}

#footer-cont {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 17em;
    background-color: $primary;

    #users-p {
        margin: 2em;
        color: white;
        font-weight: lighter;
        font-size: smaller;
        font-stretch: ultra-expanded;
    }

    #up-to-date-p {
        color: white;
        padding: 0em 17em 0em 17em;
        text-align: center;
        margin-bottom: 1em;
    }

    #newsletterForm {
        display: flex;
        flex-flow: row;
        flex-direction: row;
        gap: 1em;

        .invalid-feedback {
            background-color: $myTomato;
            border-color: $myTomato;
            box-shadow: none;
            color: white;
            padding: 0.5em;
            border-radius: 0.5em;
            font-size: smaller;
            font-weight: lighter;
            font-style: italic;
        }

        #exampleFormControlInput1 {
            height: 2.5em;
            border-radius: 4px;
            font-size: small;
            width: 20em;
        }
    
        #contact-us-btn {
            height: 2.5em;
            width: 12em;
            font-size: small;
            background-color: white;
            color: $myTomato;
        }
    }
}

#navbarNav-dark-blue {
    display: flex;
    width: 100%;
    
    #bookmark-logo-dark-blue {
        fill: $myDarkBlue;
        stroke:white;
        padding-left: 10em;
    }

    .navbar-nav {
        justify-self: flex-start;
        justify-items: flex-start;
        padding-right: 50em;
        font-size: small;
        font-weight: light;
        gap: 3em;
    }

    .nav-link:hover {
        color: $myTomato;
    }
}


// media queries para mobil //

